<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.comment.CommentMapper">
    <insert id="insComment" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO comment (
            post_no
            , created_at
            , author_no
            , content
            , status
        ) VALUES (
            #{postNo}
            , UNIX_TIMESTAMP()
            , #{authorNo}
            , #{content}
            , 'POSTED'
        )
    </insert>

    <select id="selectTotalRows">
        SELECT
            COUNT(*)
        FROM 
            comment c
        INNER JOIN
            member m ON c.author_no = m.no
        WHERE
            c.status = 'POSTED'
        <if test="memberNo != null">
                AND c.author_no = #{memberNo}
        </if>
        <if test="postNo != null">
                AND c.post_no = #{postNo}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pagingRequestDTO.searchKeyword)">
            AND (
                c.content LIKE CONCAT('%', #{pagingRequestDTO.searchKeyword}, '%') 
                OR 
                m.name LIKE CONCAT('%', #{pagingRequestDTO.searchKeyword}, '%')
            )
        </if>
    </select>

    <update id="updatePost">
        UPDATE
            comment c
        SET
            c.content = #{content}
            , c.modified_at = UNIX_TIMESTAMP()
            , c.modifier_no = #{modifierNo}
        WHERE
            c.no = #{commentNo}
            AND c.status != 'DELETED'
    </update>
</mapper>
