<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.comment.CommentMapper">
    <insert id="insComment" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO comment (
            post_no
            , created_at
            , author_no
            , content
            , status
        ) VALUES (
            #{postNo}
            , UNIX_TIMESTAMP()
            , #{authorNo}
            , #{content}
            , 'POSTED'
        )
    </insert>
</mapper>
