<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.file.FileMapper">
    <insert id="insFileInfo" parameterType="com.board.dto.file.InsFileInfoDTO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO file_info (
            origin_name
            , save_name
            , save_path
            , extension
            , size
            , parent_no
            , created_at
            , author_no
            , modified_at
            , modifier_no
        ) VALUES (
            #{originName} 
            , #{saveName} 
            , #{savePath} 
            , #{extension}
            , #{size} 
            , #{parentNo}
            , UNIX_TIMESTAMP()
            , #{authorNo}
            , NULL
            , NULL
        );
    </insert>

    <!-- file_info 상태 업데이트.
        TEMP 파일에서 NORMAL 파일로 -->

    <update id="changeFileStatus">
        UPDATE
            file_info f
        SET
            f.status = 'NORMAL'
            , f.parent_no = #{parentNo}
            , f.parent_type = #{fileInfoParentType}
        WHERE
            f.no = #{fileNo}
    </update>
</mapper>