<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.member.MemberMapper">
    <!-- 멤버의 모든 column -->
    <sql id = "member_cols">
        no
        , phone
        , withdrawn_at
        , pw
        , id
        , name
        , email 
    </sql>

    <!-- 새로운 멤버 등록 (회원가입) -->
    <insert id = "insMember" parameterType="com.board.dto.member.InsMemberDTO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO 
            member (
                name
                , id
                , pw
                , email
                , phone
            )
        VALUES (
            #{name}
            , #{id} 
            , #{pw} 
            , #{email} 
            , #{phone} 
            );
    </insert>

    <!-- 멤버 선택 -->
    <select id = "selectOne" parameterType="com.board.dto.member.SelectMemberDTO" resultType = "com.board.dto.member.MemberDTO">
        SELECT 
        <include refid = "member_cols" />
        FROM 
            member
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="email != null">
                AND email = #{email}
            </if>
        </where>

    </select>

    <!-- signin -->
    <select id="signin" parameterType="com.board.dto.member.SigninRequestDTO" resultType="java.lang.Integer">
        SELECT 
            m.no
        FROM
            member m
        WHERE
            id = #{id}
            AND pw = #{pw}
            
    </select>

    <!-- 멤버 인증 정보 저장 -->
    <insert id="insMemberAuth" parameterType="com.board.dto.member.MemberAuthDTO">
        INSERT INTO
            member_auth (
                member_no
                , access_token
                , ip_addr
                , user_agent
                , status
                , created_at
            )
        VALUES (
            #{memberNo}
            , #{accessToken}
            , #{ipAddr}
            , #{userAgent}
            , #{status}
            , #{createdAt}
        )
    </insert>

    <!-- 이미 로그인되어 있는지 여부 확인 -->
    <select id="isAlreadySignedIn" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
        SELECT 
            CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM 
            member_auth
        WHERE 
            member_no = #{memberNo}
            AND status = 'VALID'
    </select>

    <!-- 멤버 로그인 히스토리 저장 -->
    <insert id="insMemberHistory" parameterType="com.board.dto.member.MemberHistoryDTO">
       INSERT INTO
            member_history (
                type 
                , timestamp
                , member_no
            )
        VALUES (
            #{type}
            , #{timestamp}
            , #{memberNo}
        ) 
    </insert>
</mapper>