<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.post.PostMapper">

    <!-- insert new post -->
    <insert id="insPost" parameterType="com.board.dto.post.InsPostDTO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO post (
            title
            , content
            , created_at
            , author_no
            , status
        ) VALUES (
            #{title}
            , #{content}
            , UNIX_TIMESTAMP()
            , #{authorNo}
            , #{status}
        )
    </insert>

    <!-- select post -->
    <select id="selectPost" resultType = "com.board.dto.post.SelectPostDetailDTO">
        SELECT
            p.title
            , p.content
            , m.name AS author_name
            , p.created_at
            , p.modified_at
        FROM
            member m
        INNER JOIN
            post p ON m.no = p.author_no
        WHERE
            p.no = #{postNo}
    </select>
</mapper>