<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.post.PostMapper">

    <!-- insert new post -->
    <insert id="insPost" parameterType="com.board.dto.post.InsPostDTO" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO post (
            title
            , content
            , created_at
            , author_no
            , status
        ) VALUES (
            #{title}
            , #{content}
            , UNIX_TIMESTAMP()
            , #{authorNo}
            , #{status}
        )
    </insert>

    <!-- select post -->
    <select id="selectPost" resultType = "com.board.dto.post.SelectPostDetailDTO">
        SELECT
            p.title,
            p.content,
            m1.name AS author_name,
            m2.name AS modifier_name,
            p.created_at,
            p.modified_at
        FROM
            post p
        INNER JOIN
            member m1 ON p.author_no = m1.no
        LEFT JOIN
            member m2 ON p.modifier_no = m2.no
        WHERE
            p.no = #{postNo}
    </select>

    <update id="updatePost" parameterType="com.board.dto.post.UpdatePostDTO">
        UPDATE
            post p
        SET
            p.title = #{title}
            , p.content = #{content}
            , p.modified_at = UNIX_TIMESTAMP()
            , p.modifier_no = #{modifierNo}
        WHERE
            p.no = #{postNo}
    </update>
</mapper>