<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wemade.board.mapper.SampleMapper">

	<sql id = "sqlGameApkInfo">
	<![CDATA[
        SELECT 
			gai.id						AS id
			,gai.g_id					AS gId
			,gai.version				AS version
			,gai.apk_id                 AS apkId
			,cai.file_url           AS apkUrl
			,gai.start_date             AS startDate
            ,gai.end_date               AS endDate
			,gai.dw_cnt					AS dwCnt
			,gai.cret_id				AS cretId
			,gai.cret_dt				AS cretDt
			,gai.cret_pgm_id			AS cretPgmId
			,gai.amd_dt					AS amdDt
			,gai.amd_pgm_id				AS amdPgmId
			,gai.amd_id					AS amdId
        FROM game_apk_info gai
        LEFT OUTER JOIN cm_attach_info cai ON cai.id = gai.apk_id
    ]]>
	</sql>
	
	<select id="selectNow" resultType="String">
	   select now()
	</select>
	
	
    <select id="select" parameterType="SampleDTO" resultType="SampleDTO">
		<include refid="sqlGameApkInfo" />
    </select>

	<select id="selectOne" parameterType="SampleDTO" resultType="SampleDTO">
    	<include refid="sqlGameApkInfo" />
		<where>
			<if test='id != null and id !=""'>
				AND gai.id = #{id}
			</if>
			<if test='gId != null and gId !=""'>
				AND gai.g_id = #{gId}
			</if>
			<if test='endDate != null and endDate !=""'>
                AND gai.end_date = #{endDate}
            </if>
		</where>
    </select>

	<select id="selectTotalRow" parameterType="BasePagingParam" resultType="int">
			SELECT count(id) AS totalRow
			FROM game_apk_info gai
			<where>
			<if test='gId != null and gId !=""'>
				AND gai.g_id = #{gId}
			</if>
			</where>
	</select>
	
	<select id="selectListByPaging" parameterType="BasePagingParam" resultType="SampleDTO">
    	<include refid="sqlGameApkInfo" />
    	
    	<where>
            <if test='gId != null and gId !=""'>
                AND gai.g_id = #{gId}
            </if>
        </where>
        
        <if test=" direction.name == 'DESC' ">
            ORDER BY gai.cret_dt DESC
        </if>
        <if test=" direction.name == 'ASC' ">
            ORDER BY gai.cret_dt ASC
        </if>
    	
		LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <insert id="insert" parameterType="SampleDTO">
    <![CDATA[
        INSERT INTO game_apk_info ( 
			id
			,g_id
			,version
			,apk_id
			,dw_cnt
			,start_date
			,end_date
			,cret_id
			,cret_dt
			,cret_pgm_id
			,amd_dt
			,amd_pgm_id
			,amd_id
        ) VALUES ( 
			#{id}
			,#{gId}
			,#{version}
			,#{apkId}
			,#{dwCnt}
			,#{startDate}
			,#{endDate}
			,#{cretId}
			,#{cretDt}
			,#{cretPgmId}
			,#{amdDt}
			,#{amdPgmId}
			,#{amdId}
        )
    ]]>
    </insert>
    
    <update id="update" parameterType="SampleDTO">
	UPDATE game_apk_info SET 
		amd_dt = #{amdDt}
		,amd_pgm_id = #{amdPgmId}
		,amd_id = #{amdId}
		<if test='gId != null and gId !=""'>
		,g_id = #{gId}
		</if>
		<if test='version != null and version !=""'>
		,version = #{version}
		</if>
		<if test='apkId != null and apkId !=""'>
		,apk_id = #{apkId}
		</if>
		<if test='dwCnt != null and dwCnt !=0'>
		,dw_cnt = #{dwCnt}
		</if>
		<if test='startDate != null and startDate !=0'>
        ,start_date = #{startDate}
        </if>
        <if test='endDate != null and endDate !=0'>
        ,end_date = #{endDate}
        </if>
	WHERE 
		id = #{id}
    </update>

    <delete id="delete" parameterType="SampleDTO">
    <![CDATA[
        DELETE FROM game_apk_info
        WHERE 
			id = #{id}
    ]]>
    </delete>

</mapper>